<app-titulo titulo= "Eventos"></app-titulo>
<div class="form-inline">
  <div class="form-group mb-2">
    <label for="filtro" class="mr-2"> Filtro:</label>
    <input id="filtro" [(ngModel)]="filtroLista" type="text" class="form-control mr-2" placeholder="buscar">
    <button class="btn btn-outline-success" (click)="limparFiltro()">Limpar</button>
  </div>
</div>

<table class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th style="vertical-align: middle">
        <button class="btn btn-outline-light btn-sm" (click)="alterarImagem()">
          <i class="{{ exibirImagem ? 'fa fa-eye-slash' : 'fa fa-eye' }}"></i>
        </button>
      </th>
      <th style="vertical-align: middle">#</th>
      <th style="vertical-align: middle">tema</th>
      <th style="vertical-align: middle">Local</th>
      <th style="vertical-align: middle">Data</th>
      <th style="vertical-align: middle">Qtd Pessoas</th>
      <th style="vertical-align: middle">Lote</th>
      <th style="vertical-align: middle; text-align:center">Opções</th>
    </tr>
  </thead>
  <tbody *ngIf="eventos && eventosFiltrado.length">
    <tr *ngFor="let evento of eventosFiltrado">
      <td><img [collapse]="!exibirImagem"
          [isAnimated]="true"
          src="/assets/{{evento.imagemURL}}"
          [style.width.px]='widthImg'
          [style.margin.px]='marginImg'
          alt="eventos">
      </td>
      <td>{{evento.id}}</td>
      <td>{{evento.tema}}</td>
      <td>{{evento.local}}</td>
      <td>{{evento.dataEvento | DatePipeFormat}}</td>
      <td>{{evento.qtdPessoas}}</td>
      <td>{{evento.lotes[0].nome}}</td>
      <td>
        <button type="button" class="btn btn-primary btn-sm mr-2" tooltip="Editar"><i class="fas fa-edit"></i></button>
        <button type="button" class="btn btn-danger btn-sm" (click)="openModal(template)" tooltip="Excluir"><i class="fas fa-trash-alt"></i></button>
      </td>
    </tr>
  </tbody>
  <tfoot *ngIf="!eventosFiltrado.length">
    <tr>
      <td colspan="8" class="text-center">
        <h4>Nenhum eventos encontrado!</h4>
      </td>
    </tr>
  </tfoot>
</table>

<!-- {{eventos | json}} -->

<ng-template #template>
  <div class="modal-body text-center">
    <p>Tem certeza que quer deletar este evento?</p>
    <button type="button" class="btn btn-default" (click)="confirm()" >Sim</button>
    <button type="button" class="btn btn-primary" (click)="decline()">Não</button>
  </div>
</ng-template>
